@model IEnumerable<CntNetCore.Models.Pacientes>

@{
    ViewData["Title"] = "Prioridad";
}

<h2>Prioridad Pacientes</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fumador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Añosfumador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dieta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fumador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Añosfumador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dieta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                <a asp-action="Atender" asp-route-id="@item.Documento"><button class="btn btn-success">Atender</button></a>
            </td>
        </tr>
}


    </tbody>
</table>
